body {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
}

header {
    text-align: center;
    background: linear-gradient(to right top,#F7931A, #201E1C);
    width: 100%;
    height: 330px;
    color: white;
}

header h1 {
    font-size: 36px;
    color: #F7931A;
    padding: 25px;
    margin: 0;
}

header h2 {
    font-size: 30px;
}

header p {
    margin: 20px;
}

header button {
    font-size: 20px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 1px #5d5e5e; 
}

main .main-contain-bit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #faf8f7;
}

main .main-contain-bit .img-bit {
    margin: 15px;
}

main .main-contain-bit h2 {
    font-weight: 700;
    font-size: 27px;
}

main .main-contain-bit p {
    color: #757575;
    font-size: 15px;
    margin: 0px 20px 20px 20px;
}

main .main-contain-bit .table-contain {
    text-align: start;
    background-color: #faf8f7;
}
main .table-contain #title-table {
    color: #ff9536;
    font-size: 23px;
}

main .table-contain table {
    width: 200px;
    height: 160px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
}

main table, tr, td {
    border-bottom: 3px solid #faf8f7;
}

main .table-contain p {
    padding: 8px;
    background-color: #FFE9D4;
    border-radius: 10px;
}

main .table-contain p b {
    font-weight: 700;
    color: black;
}

main .table-contain table .coins {
    color: #b5b0ac;
    font-weight: 500;
}

main .table-contain table .price {
    color: #757575;
}
